[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bitcoin = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
idna = "*"
itsdangerous = "*"
pytz = "*"
qrcode = "*"
requests = "*"
six = "*"
urllib3 = "*"
Babel = "*"
Flask-Babel = "*"
Flask-QRcode = "*"
Flask-WTF = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Werkzeug = "*"
WTForms = "*"

[requires]
python_version = "3.6"
