Babel==2.7.0
bitcoin==1.1.42
certifi==2022.12.7
chardet==3.0.4
Click==7.0
colorama==0.4.1
Flask==1.1.1
Flask-Babel==0.12.2
Flask-QRcode==3.0.0
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Pillow==6.2.1
pytz==2019.3
qrcode==6.1
requests==2.22.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
