<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>chaucha.party</title>
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<meta name="description" content="Chauchera Online">
	<meta name="author" content="Proyecto Chaucha">
	<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300|Inconsolata');
	body { font-family: 'Montserrat Alternates', sans-serif; font-size: 1em; color: #000; }
	code { font-family: 'Inconsolata', monospace; font-size: 1.1em; }
	.overflow ( text-overflow: ellipsis; )
	.home { letter-spacing: 10px; }
	table.center { margin-left:auto; margin-right:auto; }
	h1 {letter-spacing: 3px; }
	</style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<section class="hero is-fullheight">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head is-danger">
	<header class="navbar">
		<div class="container">
		<div class="navbar-brand">
			<span class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
			<span></span>
			<span></span>
			<span></span>
			</span>
		</div>
		<div id='nav-menu' class="navbar-menu is-transparent" v-on:click="toggleNav">
			<div class="navbar-end">
			{% if 'address' in session %}
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Chauchera
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="{{ url_for('send') }}">
						Enviar
					</a>
					<a class="navbar-item" href="{{ url_for('index') }}">
						Recibir
					</a>
					<a class="navbar-item" href="{{ url_for('history') }}">
						Historial
					</a>
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					OP_HODL
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="{{ url_for('hodlcreate') }}">
						Crear dirección
					</a>
					<a class="navbar-item" href="{{ url_for('hodlspend') }}">
						Desbloquear
					</a>
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Transacción Puzzle
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="{{ url_for('puzzlecreate') }}">
						Crear dirección
					</a>
					<a class="navbar-item" href="{{ url_for('puzzlespend') }}">
						Desbloquear
					</a>
				</div>
			</div>
			<a class="navbar-item" href="{{ url_for('logout') }}">
				Cerrar Sesión
			</a>
			{% else %}
			<a class="navbar-item" href="{{ url_for('login') }}">
				Iniciar Sesión
			</a>
			<a class="navbar-item" href="{{ url_for('paper') }}">
				Paper Wallet
			</a>
			{% endif %}
			</div>
		</div>
		</div>
	</header>
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="notification {{ category }}">
							<button class="delete"></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

			{% block body %}
			{% endblock %}

		</div>
	</div>

	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
	<nav class="tabs is-boxed is-fullwidth">
		<div class="container has-text-centered">
			<p class="heading"><a href="https://chaucha.cl/" target="_blank">Proyecto Chaucha</a></p>
		</div>
	</nav>
	</div>
</section>

<script type="text/javascript">
	$(document).on('click', '.notification > button.delete', function() {
		$(this).parent().addClass('is-hidden');
		return false;
	});
</script>
</body>
</html>
