<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>chaucha.party</title>
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

	<meta name="description" content="Proyecto Chaucha - 2018">
	<meta name="keywords" content="chaucha, cryptocurrency, chauchera">
	<meta name="author" content="César Vásquez C.">	
	<script type="text/javascript" src="{{ url_for('static', filename='particles.min.js') }}"></script>
	<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Code+Pro');

	body { font-family: 'Quicksand', sans-serif; font-size: 1em; }
	.mono { font-family: 'Source Code Pro', monospace; font-size: 0.9em; }
	.bg { background: rgba(255, 255, 255, 0.3); }
	h1 {letter-spacing: 3px; }
	#particle {
		background-color: #FFF;
		position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index:0; 
	}
	</style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="particle"></div>
<script type="text/javascript">
// ParticlesJS Config.
particlesJS("particle",{particles:{number:{value:60,density:{enable:!0,value_area:700}},color:{value:"#05C9E3"},shape:{type:"circle",stroke:{width:2,color:"#05C9E3"},polygon:{nb_sides:5}},opacity:{value:0.8,random:!1,anim:{enable:!1,speed:1,opacity_min:.1,sync:!1}},size:{value:2,random:!0,anim:{enable:!1,speed:40,size_min:.1,sync:!1}},line_linked:{enable:!0,distance:150,color:"#3DF0FD",opacity:.7,width:2},move:{enable:!0,speed:3,direction:"none",random:!1,straight:!1,out_mode:"out",bounce:!1,attract:{enable:!1,rotateX:600,rotateY:1200}}},interactivity:{detect_on:"canvas",events:{onhover:{enable:!0,mode:"grab"},onclick:{enable:!0,mode:"push"},resize:!0},modes:{grab:{distance:140,line_linked:{opacity:1}},bubble:{distance:400,size:40,duration:2,opacity:8,speed:3},repulse:{distance:200,duration:.4},push:{particles_nb:4},remove:{particles_nb:2}}},retina_detect:!0});
</script>

<section class="hero is-fullheight">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head is-danger">
	<header class="navbar">
		<div class="container">
		<div class="navbar-brand">
			<span class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
			<span></span>
			<span></span>
			<span></span>
			</span>
		</div>
		<div id='nav-menu' class="navbar-menu" v-on:click="toggleNav">
			<div class="navbar-end">
			{% if 'address' in session %}
			<a class="navbar-item" href="{{ url_for('index') }}">
				Página Principal
			</a>
			<a class="navbar-item" href="{{ url_for('send') }}">
				Enviar
			</a>
			<a class="navbar-item" href="{{ url_for('history') }}">
				Historial
			</a>
			<a class="navbar-item" href="{{ url_for('logout') }}">
				Cerrar Sesión
			</a>
			{% else %}
			<a class="navbar-item" href="{{ url_for('login') }}">
				Iniciar Sesión
			</a>
			<a class="navbar-item" href="{{ url_for('paper') }}">
				Paper Wallet
			</a>
			{% endif %}
			</div>
		</div>
		</div>
	</header>
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="notification {{ category }}">
							<button class="delete"></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

			{% block body %}
			{% endblock %}

		</div>
	</div>

	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
	<nav class="tabs is-boxed is-fullwidth">
		<div class="container has-text-centered">
			<p class="heading"><a href="https://chaucha.cl/" target="_blank">Proyecto Chaucha</a></p>
		</div>
	</nav>
	</div>
</section>

<script type="text/javascript">
	$(document).on('click', '.notification > button.delete', function() {
		$(this).parent().addClass('is-hidden');
		return false;
	});
</script>
</body>
</html>