{% extends "base.html" %}
{% block body %}

<h1 class="title">Historial de Transacciones</h1>

{% if history|length > 0 %}

<table class="table bg is-hoverable center">
	<thead>
		<tr class="has-text-centered">
			<th class="has-text-centered">Fecha</th>
			<th class="has-text-centered is-hidden-touch">Confirmaciones</th>
			<th class="has-text-centered">Mensaje</th>
			<th class="has-text-centered"></th>
		</tr>
	</thead>
	<tbody>
		{% for tx in history %}
		<tr>
			<td class="has-text-centered">{{ tx['time'] }}</td>
			<td class="has-text-centered is-hidden-touch">{{ tx['confirmations'] }}</td>
			{% if tx['msg']|length > 0 %}
				{% if tx['msg']|length > 25 %}
					<td class="has-text-centered">{{ tx['msg'][:25] }}...</td>
				{% else %}
					<td class="has-text-centered">{{ tx['msg'] }}</td>
				{% endif %}
			{% else %}
				<td class="has-text-centered">&nbsp;</td>
			{% endif %}
			<td class="has-text-centered">
				<a href="{{ url_for('tx', txid=tx['txid']) }}" class="has-text-primary"><u>Ver Transacción</u></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if not current_page == 0 %}
<div class="content is-medium">
	<p>
	<a href="{{ url_for('history') }}?page={{ current_page }}" class="has-text-primary">
		<i class="fa fa-lg fa-caret-left" aria-hidden="true"></i>
	</a>

	{{ current_page + 1 }} de {{ pages }}

	{% if not current_page + 1 == pages %}
	<a href="{{ url_for('history') }}?page={{ current_page + 2 }}" class="has-text-primary">
		<i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
	</a>
	{% endif %}
	</p>
</div>
{% endif %}

{% else %}
<div class="content is-medium">
	<p>No tienes transacciones anteriores</p>
</div>

{% endif %}

{% endblock %}
