{% extends "base.html" %}
{% block body %}

{% from "macros.html" import render_qr, render_field %}

<h1 class="title">Crear dirección OP_HODL</h1>

<div class="content is-medium">
	<p>Bloquear Chauchas hasta que el tamaño del Blockchain sea mayor
		que el parametro <i>Locktime</i>.</p>
</div>

<form action="{{ url_for('hodlcreate') }}" method="post">
{{ form.csrf_token }}
{{ render_field(form.locktime, class="input is-large is-primary") }}
<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			<i class="fas fa-bullhorn"></i>
		</button>
		</div>
	</p>
</div>
</form>

{% endblock %}
