{% extends "base.html" %}
{% block body %}

{% from "macros.html" import render_qr, render_field %}

<h1 class="title">Iniciar sesión</h1>

<div class="content is-medium">
	<p>Para utilizar esta plataforma necesitas una <b>Llave Privada</b>, que puedes obtener generando una <a href="{{ url_for('paper') }}" class="has-text-black"><u>Paper Wallet</u></a> aleatoria, o <a href="https://docs.chaucha.cl/aportes/principiante/sec/" target="_blank" class="has-text-black"><u>exportando</u></a> una llave privada de alguna dirección de tu Chauchera.</p>

	<p>Puedes ingresar tu llave privada escaneando el código QR con el botón <i class="fas fa-qrcode fa-lg"></i></p>
</div>

<form action="/login" method="post">
  {{ form.csrf_token }}
  {{ render_qr(form.privkey, class="input is-large is-primary") }}

<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			 Entrar&nbsp;<i class="fas fa-sign-in-alt"></i>
		</button>
		</div>
	</p>
</div>

</form>

<script type="text/javascript" src="{{ url_for('static', filename='qr_packed.js') }}"></script>

<script type="text/javascript">
function openQRCamera(node) {
  var reader = new FileReader();
  reader.onload = function() {
    node.value = "";
    qrcode.callback = function(res) {
      if(res instanceof Error) {
        alert("Error, intentalo nuevamente");
      } else {
	    $('#privkey').attr('value', res);
      }
    };
    qrcode.decode(reader.result);
  };
  reader.readAsDataURL(node.files[0]);
}

</script>
{% endblock %}