{% extends "base.html" %}
{% block body %}

<div class="content">
	<h1>Iniciar sesión</h1>
</div>

<form action="/login" method="post">

<div class="field">
	<p class="control has-icons-left">
		<input class="input is-large is-primary is-rounded" type="password" name="privkey" placeholder="Private Key">
		<span class="icon is-left">
			<i class="fas fa-key"></i>
		</span>
	</p>
</div>
<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			<i class="fas fa-sign-in-alt"></i>
		</button>
		</div>
	</p>
</div>

</form>

{% endblock %}