{% extends "base.html" %}
{% block body %}

{% from "macros.html" import render_qr, render_field %}

<h1 class="title">Crear transacción puzzle</h1>

<div class="content is-medium">
	<p>Almacenar chauchas en una dirección desbloqueable con la solución de un puzzle.</p>
</div>

<form action="{{ url_for('puzzlecreate') }}" method="post">
{{ form.csrf_token }}
{{ render_field(form.solution, class="input is-large is-primary") }}
<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			<i class="fas fa-bullhorn"></i>
		</button>
		</div>
	</p>
</div>
</form>

{% endblock %}
