{% extends "base.html" %}
{% block body %}

{% from "macros.html" import render_qr, render_field %}

<h1 class="title">Enviar Chauchas</h1>

<div class="content is-medium">
	<p>Tienes {{ balance[0]|round(8) }} chauchas disponibles para transferir</p>
</div>

<form action="/send" method="post">
{{ form.csrf_token }}
{{ render_qr(form.address, class="input is-large is-primary") }}
{{ render_field(form.amount, class="input is-large is-primary", icon="fas fa-dollar-sign") }}
{{ render_field(form.msg, class="input is-large is-primary", icon="fas fa-comments") }}

<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			<i class="fas fa-bullhorn"></i>
		</button>
		</div>
	</p>
</div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='qr_packed.js') }}"></script>

<script type="text/javascript">
function openQRCamera(node) {
  var reader = new FileReader();
  reader.onload = function() {
    node.value = "";
    qrcode.callback = function(res) {
      if(res instanceof Error) {
        alert("Error, intentalo nuevamente");
      } else {
	    $('#address').attr('value', res);
      }
    };
    qrcode.decode(reader.result);
  };
  reader.readAsDataURL(node.files[0]);
}

</script>

{% endblock %}