{% extends "base.html" %}
{% block body %}

<h1 class="title">Enviar Chauchas</h1>
<p class="subtitle mono">Tienes {{ balance[0]|round(8) }} CHA disponibles para transferir</p>

<form action="/send" method="post">

<div class="field is-horizontal">
	<div class="field-label is-large">
		<label class="label">Dirección</label>
	</div>
	<div class="field-body">
		<div class="field has-addons">
			<div class="control is-expanded has-icons-left">
				<input class="input is-large is-primary" id="address" type="text" name="address">
				<span class="icon is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<div class="control">
				<div class="file is-primary is-large">
					<label class="file-label">
						<input class="file-input" type=file accept="image/*" capture=environment onchange="openQRCamera(this);">
						<span class="file-cta">
							<span class="file-icon">
								<i class="fas fa-qrcode fa-2x"></i>
							</span>
						</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-large">
		<label class="label">Monto</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control has-icons-left">
				<input class="input is-large is-primary" type="text" name="amount">
				<span class="icon is-left">
					<i class="fas fa-dollar-sign"></i>
				</span>
			</p>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-large">
		<label class="label">Mensaje</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control has-icons-left">
				<input class="input is-large is-primary" type="text" name="msg">
				<span class="icon is-left">
					<i class="fas fa-comments"></i>
				</span>
			</p>
		</div>
	</div>
</div>

<div class="field">
	<p class="control">
		<div class="buttons is-right">
		<button class="button is-large is-primary is-rounded">
			<i class="fas fa-bullhorn"></i>
		</button>
		</div>
	</p>
</div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='qr_packed.js') }}"></script>

<script type="text/javascript">
function openQRCamera(node) {
  var reader = new FileReader();
  reader.onload = function() {
    node.value = "";
    qrcode.callback = function(res) {
      if(res instanceof Error) {
        alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
      } else {
	    $('#address').attr('value', res);
      }
    };
    qrcode.decode(reader.result);
  };
  reader.readAsDataURL(node.files[0]);
}

</script>

{% endblock %}