{% extends "base.html" %}
{% block body %}

<div class="columns">
	<div class="column has-text-centered">
		<h1 class="title">Entradas</h1>

		<table class="table center bg is-hoverable is-fullwidth">
			<thead>
				<tr class="has-text-centered">
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>
				</tr>
			</thead>
			<tbody>
				{% for i in tx['vin'] %}
				{% if not tx['isCoinBase'] %}
				<tr>
					<td class="has-text-centered is-hidden-touch">{{ i['addr'] }}</td>
					<td class="has-text-centered is-hidden-desktop">{{ i['addr'][:15] }}...</td>
					<td class="has-text-centered">{{ i['value'] }} CHA</td>
					</td>
				</tr>
				{% else %}
				<tr>
					<td class="has-text-centered">Generación</td>
					<td class="has-text-centered">{{ tx['valueOut'] }} CHA</td>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="column">
		<h1 class="title">Salidas</h1>
		<table class="table center bg is-hoverable is-fullwidth">
			<thead>
				<tr class="has-text-centered">
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>
				</tr>
			</thead>
			<tbody>
				{% for j in tx['vout'] %}
				{% if 'addresses' in j['scriptPubKey'] %}
				<tr>
					<td class="has-text-centered is-hidden-touch">{{ j['scriptPubKey']['addresses'][0] }}</td>
					<td class="has-text-centered is-hidden-desktop">{{ j['scriptPubKey']['addresses'][0][:15] }}...</td>
					<td class="has-text-centered">{{ j['value'] }} CHA</td>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% if 'fees' in tx %}
<div class="content is-medium">
	<p><b>Impuesto:</b> {{ tx['fees'] }} CHA</p>
</div>
{% endif %}
{% endblock %}
